.container-fixed {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #373A3C;
    font-family: Cabin, sans-serif;
}
div { outline: 1px solid red !important; }

nav{
    padding: 150px;
    margin-top: 40px;
}
.navbar-brand{
   
    color: #FFFFFF !important;
    
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}
h5 {
    color: #FFFFFF;
    text-align: center;
}
.icon{
    background-color: #10ccf4;
    height: 30px;
    text-align: center;
   
}
i{
    color: #FFFFFF;
}
p {
    color: #FFFFFF;
    text-align:left;
}
.card-body{
    background-color: #10ccf4;
    color: #FFFFFF !important;
}
.correo{
    padding-left: 100px;
    padding-right: 100px;
    color: #FFFFFF;
}
.btn{
    background-color: #10ccf4 !important;
    color: #FFFFFF !important;
   
}
footer{
    background-color: #10ccf4;
    color: #FFFFFF !important;
    padding: 20px;
    font-size: 20px;
}
.flex-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    padding-left: 250px;
    padding-right: 250px;
}